* {
  margin: 0;
  padding: 0; }

ul, dl {
  list-style: none; }

a {
  text-decoration: none; }

#head {
  width: 1280px;
  height: 32px;
  background: #f7f7f7;
  position: relative; }

#headul {
  position: absolute;
  right: 40px; }

#headul li {
  float: left;
  margin-left: 10px;
  font-size: 12px;
  line-height: 14px;
  color: gray;
  margin-top: 10px; }

#head li img {
  margin-top: 5px; }

#head li:nth-child(2) {
  border-right: 1px solid gray;
  padding-right: 10px; }

#top {
  height: 166px;
  width: 1280px;
  position: relative; }

#search {
  position: absolute;
  right: 40px;
  top: 30px; }

.log {
  position: absolute;
  top: 90px;
  left: 40px; }

#txt {
  width: 260px;
  height: 28px;
  float: left; }

#btn {
  width: 50px;
  height: 30px;
  background: #b71a21;
  border: none;
  float: left;
  margin-right: 24px;
  margin-top: 1px;
  color: #fff; }

#goods {
  display: inline-block;
  background: #b71a21;
  width: 105px;
  height: 30px;
  line-height: 30px;
  font-size: 14px; }

#goods a {
  display: inline-block;
  color: #fff;
  background: url(../images/gc.jpg) no-repeat 0 center; }

#goods em {
  font-style: normal; }

#goods span {
  margin-left: 30px; }

.rs {
  position: absolute;
  right: 40px;
  top: 66px; }

.rs li {
  float: left;
  margin-left: 10px;
  font-size: 12px;
  color: gray; }
  .rs li a {
    color: gray; }

.nav {
  position: absolute;
  left: 260px;
  top: 118px; }

.nav > li {
  width: 96px;
  height: 16px;
  position: relative;
  float: left;
  text-align: center;
  padding-bottom: 30px; }

.nav span {
  position: absolute;
  right: 0px;
  width: 1px;
  height: 16px;
  border-right: 1px solid gray; }

.nav li:last-child {
  border: none; }

.nav li a {
  text-align: center;
  color: gray;
  font-weight: bold; }

.nav li a:hover {
  color: #b71a21; }

.navbarlist {
  border-top: 5px solid #b71a21;
  margin-top: 8px;
  z-index: 99;
  position: absolute;
  left: 0;
  background: #fff;
  width: 100%;
  text-align: center;
  display: none; }

.navbarlist > li {
  padding-top: 15px; }

.navbarlist li:first-child {
  padding-top: 25px; }

.navbarlist li:last-child {
  padding-bottom: 20px; }

.navbarlist > li a:hover {
  color: #b71a21; }

#banner {
  width: 1200px;
  height: 535px;
  position: relative;
  overflow: hidden;
  margin-left: 40px; }

#side {
  height: 535px;
  width: 9999px;
  position: absolute;
  left: 0;
  top: 0; }

#side li {
  float: left; }

#prev, #next {
  position: absolute;
  top: 220px;
  width: 40px;
  height: 80px;
  font-size: 80px;
  color: #666;
  border: none;
  background: none; }

#prev {
  left: 20px; }

#next {
  right: 20px; }

#prev:hover, #next:hover {
  color: #b71a21; }

#list li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: gray;
  float: left;
  margin: 5px; }

#list {
  position: absolute;
  bottom: 10px;
  left: 500px; }

#list .active {
  background: #ff0000; }

#getmoney {
  margin-left: 40px;
  margin-top: 40px; }

#content {
  position: relative;
  width: 1280px;
  min-height: 3750px; }

#content h3 {
  text-align: center;
  margin-top: 66px;
  margin-bottom: 34px;
  color: gray; }

.cp {
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  left: 40px; }

.cp li {
  margin-top: 16px; }

.cp li:nth-child(2) {
  margin: 16px 16px 0 16px; }

.cp li:nth-child(5) {
  margin: 16px 16px 0 16px; }

.cp li:nth-child(8) {
  margin: 16px 16px 0 16px; }

.cp li:nth-child(11) {
  margin: 16px 16px 0 16px; }

.cp li:nth-child(14) {
  margin: 16px 16px 0 16px; }

.cp li:nth-child(17) {
  margin: 16px 16px 0 16px; }

#hangou {
  margin-top: 50px;
  width: 1280px;
  height: 570px; }

#hangou h3 {
  color: gray;
  text-align: center; }

#hangou .tcp {
  float: left;
  margin-top: 40px;
  margin-left: 40px;
  width: 590px;
  height: 510px; }

.tcp dd {
  margin-top: -3px;
  width: 588px;
  height: 70px;
  line-height: 70px;
  border: 1px solid #e8e7ec;
  border-top: none; }

.s2 {
  font-size: 14px;
  float: right;
  color: #b71a21;
  padding-right: 10px; }

.s1 {
  font-size: 14px;
  padding-left: 10px; }

.cen {
  margin-top: 40px;
  margin-left: 16px;
  width: 290px;
  height: 500px;
  float: left; }

.clost {
  margin-top: 20px; }

.closet dd {
  border: 1px solid #e8e7ec;
  border-top: none;
  margin-top: -3px;
  width: 288px;
  height: 70px;
  line-height: 70px; }

.s3 {
  font-size: 14px;
  padding-left: 10px; }

.s4 {
  font-size: 14px;
  float: right;
  color: #b71a21;
  padding-right: 10px; }

.mag {
  margin-top: 16px; }

.mag dd {
  border: 1px solid #e8e7ec;
  border-top: none;
  margin-top: -3px;
  width: 288px;
  height: 66px;
  line-height: 66px; }

.s5 {
  font-size: 14px;
  padding-left: 10px; }

.s6 {
  font-size: 14px;
  float: right;
  color: #b71a21;
  padding-right: 10px; }

.side {
  float: left;
  margin-top: 40px;
  margin-left: 16px;
  width: 285px;
  height: 510px; }

.side dd {
  border: 1px solid #e8e7ec;
  border-top: none;
  margin-top: -3px;
  width: 285px;
  height: 70px;
  line-height: 70px; }

.s7 {
  font-size: 14px;
  padding-left: 10px; }

.s8 {
  font-size: 14px;
  float: right;
  color: #b71a21;
  padding-right: 10px; }

#footer {
  margin-top: 45px;
  height: 285px;
  width: 1200px;
  margin-left: 40px;
  border: 1px solid #e8e7ec; }

.online, .seven, .weixin {
  float: left;
  width: 370px;
  height: 106px;
  border-right: 1px solid #e8e7ec;
  text-align: center;
  margin-top: 33px;
  padding: 18px 0; }

.online {
  margin-left: 40px; }

.online dd {
  width: 158px;
  height: 32px;
  background: #b71a21;
  color: #fff;
  margin-top: 30px;
  line-height: 32px;
  text-align: center;
  margin-left: 105px;
  font-size: 14px; }

.seven dd {
  font-size: 14px;
  margin-top: 20px;
  height: 55px;
  background: none;
  color: gray;
  line-height: 28px;
  text-align: center; }

.weixin img {
  width: 100px;
  height: 100px; }

.weixin {
  margin-top: 15px;
  border: none; }

.weixin dd {
  color: gray;
  line-height: 14px;
  text-align: center;
  margin-top: 15px;
  font-size: 14px; }

.point {
  float: left;
  width: 1120px;
  height: 56px;
  background: #e8e7ec;
  margin-left: 40px;
  margin-top: 25px; }

.point li {
  float: left;
  padding: 0 65px;
  border-right: 1px solid gray;
  margin-top: 20px;
  font-size: 12px; }

.point li a {
  color: black; }

.point li:last-child {
  border: none; }

.line {
  display: block;
  width: 1200px;
  border-bottom: 1px solid black;
  margin-left: 40px;
  margin-top: 40px; }

.copy {
  width: 1200px;
  height: 150px;
  text-align: center;
  line-height: 26px;
  font-size: 12px;
  color: gray; }

.copy p {
  margin-top: 15px; }

.power {
  margin-top: 30px;
  margin-left: 200px; }

.power li {
  float: left;
  margin-left: 20px; }

.power img:nth-child(6) {
  width: 120px;
  height: 38px; }

#fix {
  position: fixed;
  right: 0px;
  bottom: 50px; }

.downApp, .customer {
  border: 1px solid #b71a21;
  width: 74px;
  height: 77px;
  text-align: center;
  padding-top: 10px; }

.downApp dd, .customer dd {
  font-size: 13px;
  color: gray;
  font-weight: bold;
  margin-top: 5px; }

.downApp, .customer {
  background: #fff; }

.customer {
  border-top: none; }

#relog {
  width: 1200px;
  height: 90px;
  margin-left: 40px;
  border-bottom: 1px solid black; }

#relog img {
  margin-top: 20px; }

.content_left, .content_right {
  float: left; }

.content_right {
  margin-left: 80px;
  position: relative; }

.content_left {
  margin-left: 160px;
  margin-top: 80px; }

.content_right h2, .respan {
  float: left;
  margin-top: 40px;
  color: gray; }

.respan {
  margin-left: 180px;
  padding-top: 5px;
  font-size: 13px;
  font-weight: bold; }

.respan a {
  color: #b71a21;
  font-size: 14px;
  font-weight: bold; }

.respan a:hover {
  border-bottom: 1px solid #b71a21; }

.redline {
  display: block;
  width: 450px;
  margin-top: 50px;
  border-bottom: 2px solid #b71a21; }

.content_right input {
  margin-top: 20px; }

#tel {
  width: 340px;
  height: 45px;
  line-height: 45px;
  font-size: 14px; }

#btn1 {
  width: 100px;
  height: 45px;
  color: #b71a21;
  margin-left: 10px;
  font-weight: bold; }

#yzm, #pwd, #pwd1, #zhuce {
  position: absolute;
  width: 450px;
  height: 45px;
  line-height: 45px;
  font-size: 14px; }

#yzm {
  left: 0px;
  top: 140px; }

#pwd {
  left: 0px;
  top: 210px; }

#pwd1 {
  left: 0px;
  top: 280px; }

#zhuce {
  top: 400px;
  left: 0px;
  font-weight: bold;
  background: grey;
  border: none;
  color: #fff; }

.p6, .p7, .p8, .p9 {
  position: absolute; }

.p6 {
  left: 20px;
  top: 140px; }

.p7 {
  left: 20px;
  top: 210px; }

.p8 {
  left: 20px;
  top: 280px; }

.p9 {
  left: 20px;
  top: 350px; }

.read a {
  color: #b71a21; }

#check {
  position: absolute;
  left: 0px;
  top: 360px; }

.read {
  position: absolute;
  left: 20px;
  top: 380px;
  font-weight: bold;
  font-size: 14px;
  color: gray; }

.read a:hover {
  border-bottom: 1px solid #b71a21; }

.Copyright {
  margin-left: 200px;
  font-size: 13px;
  color: gray; }

.borderbtom {
  display: block;
  width: 1200px;
  height: 1px;
  position: absolute;
  top: 700px;
  border-bottom: 1px solid black;
  margin-left: 40px; }

.help {
  position: absolute;
  right: 40px;
  top: 50px;
  font-size: 12px;
  color: black; }

.help:hover {
  color: #b71a21;
  border-bottom: 1px solid #b71a21; }

.onloadForm {
  float: left;
  margin-top: 50px;
  margin-left: 80px; }

.onloadh, .nouser {
  float: left;
  font-weight: bold;
  color: gray; }

.nouser {
  margin-left: 140px;
  font-size: 14px;
  margin-top: 8px; }

.nouser a {
  color: #b71a21; }

.nouser a:hover {
  border-bottom: 1px solid #b71a21; }

.tag {
  width: 428px;
  margin-top: 50px;
  height: 40px; }

.login {
  border: 1px solid gray;
  position: relative;
  min-height: 450px; }

.tag li {
  cursor: pointer;
  float: left;
  background: grey;
  width: 214px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: black; }

.tag .act {
  background: #b71a21;
  color: #fff;
  font-weight: bold; }

#uname, #upwd {
  position: absolute;
  left: 25px;
  top: 60px;
  width: 370px;
  height: 40px;
  line-height: 40px; }

#uname {
  top: -10px; }

.p1 {
  position: absolute;
  top: 35px;
  left: 35px; }

.p2 {
  position: absolute;
  top: 110px;
  left: 35px; }

.shows {
  width: 428px;
  height: 200px;
  position: relative; }

.shows li, .tive {
  position: absolute;
  top: 50px; }

.shows .tive {
  display: block; }

.shows li {
  display: none; }

.findpwd {
  position: absolute;
  right: -380px;
  top: 150px;
  color: #b71a21; }

.infont {
  position: absolute;
  left: 25px;
  width: 370px;
  height: 40px;
  top: 240px;
  color: #fff;
  background: #b71a21;
  line-height: 40px;
  text-align: center;
  font-size: 24px; }

.infont:hover {
  font-weight: bold; }

.cooper {
  position: absolute;
  top: 334px;
  left: 28px;
  font-size: 14px;
  font-weight: bold;
  color: gray; }

.lines {
  display: block;
  width: 428px;
  height: 1px;
  border-bottom: 1px dotted gray;
  position: absolute;
  left: 0;
  top: 320px; }

.partener {
  position: absolute;
  left: 28px;
  top: 365px; }

.partener li {
  float: left;
  margin-left: 5px; }

#telphone {
  width: 260px;
  height: 40px;
  line-height: 40px;
  margin-left: 25px;
  margin-top: -20px; }

#recontent {
  width: 1263px;
  height: 600px; }

#btn2 {
  margin-top: -20px;
  font-weight: bold;
  color: #b71a21;
  width: 100px;
  height: 44px;
  margin-left: 10px; }

#verification {
  position: absolute;
  width: 120px;
  height: 40px;
  display: inline-block;
  left: 25px;
  border: 1px solid gray;
  float: left;
  top: 55px; }

#sjs {
  position: absolute;
  left: 147px;
  float: left;
  top: 55px;
  display: inline-block;
  width: 120px;
  height: 40px;
  border: 1px solid gray;
  background: grey;
  line-height: 40px;
  text-align: center;
  font-size: 30px;
  font-weight: bold; }

#yh {
  position: absolute;
  width: 370px;
  height: 40px;
  line-height: 40px;
  left: 25px;
  top: 120px; }

.p1, .p2, .p3, .p4, .p4, .p5, .p6, .p7, .p8, .p9 {
  font-size: 12px;
  color: gray; }

.p3 {
  position: absolute;
  left: 35px; }

.p4 {
  position: absolute;
  left: 35px;
  top: 100px; }

.p5 {
  position: absolute;
  left: 35px;
  top: 165px; }

#change {
  position: absolute;
  left: 280px;
  top: 60px;
  display: block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  float: left;
  background: grey;
  cursor: pointer; }

#subnav {
  width: 1200px;
  height: 50px;
  background: #fbfbfb;
  margin-left: 40px;
  margin-top: 40px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray; }

#sublist {
  width: 1200px;
  height: 50px;
  background: #fbfbfb; }

#sublist li {
  height: 50px;
  float: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 50px;
  margin-right: 95px; }

#sublist li:first-child {
  margin-left: 20px; }

#sublist li a {
  color: gray; }

/*# sourceMappingURL=demo1.css.map */
